.table {
    box-sizing: border-box;
    border-collapse: collapse;
    border: 2px solid black;
    width: 760px;
  }
  
  .tableHead {
    background-color: rgba(0, 0, 0, 0.825);
    color: white;
    width: calc(100% / 3);
  }
  .headText {
    padding: 10px 0;
    border: 1px solid black;
  }
  .headItem {
    border: 1px solid black;
  }
  
  .row:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.301);
  }
  
  .rowItem {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px 0;
    color: black;
    font-size: 18px;
  
    text-transform: capitalize;
  }